# DEEPSEEK_API_KEY: Required for DeepSeek AI API calls.
# Obtain your key from https://platform.deepseek.com/api_keys
DEEPSEEK_API_KEY="YOUR_DEEPSEEK_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyDA48qBpdZtqfyM8apoFqcZkEVNwbIoXTQ"
VITE_FIREBASE_AUTH_DOMAIN="mymental-health-a6aff.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="mymental-health-a6aff"
VITE_FIREBASE_STORAGE_BUCKET="mymental-health-a6aff.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="460615736676"
VITE_FIREBASE_APP_ID="1:460615736676:web:f78b879d50804e009b6e71"
